* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100vw;
    height: 100vh;
}

#title {
    text-align: center;
    padding: 2em;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    display: flex;
    flex-flow: row nowrap;
    width: 500px;
    height: 500px;
}

#border {
    border: 1px solid black;
}

.grid-border {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#controls {
    display: flex;
    flex-direction: column;
}

.control {
    padding: 1em;
    margin: 0.2em;
}
